
.cart-container .cart-img{
    width: 20rem;
}
.cart-container{
    
    display: flex;
    gap: 2rem;
    align-items: center;
    
}
.cart-container .cart-details .qty input{
    width: 5rem;
    height: 3rem;
    font-size: 1.5rem;
    padding:0 .5rem;
}

.remove{
    display: flex;
    justify-content: end;
}
